*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#16a34a,
#2563eb
);

}



.cadastro-container{


background:white;

width:450px;

padding:40px;

border-radius:25px;

box-shadow:

0 10px 30px rgba(0,0,0,.2);

text-align:center;


}



.logo{

font-size:35px;

font-weight:bold;

color:#16a34a;

}



.logo span{

color:#2563eb;

}



h1{

margin-top:20px;

}



p{

color:#64748b;

margin:15px 0;

}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{


width:100%;

padding:14px;

margin:8px 0;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;


}



h3{

margin:20px 0 10px;

}



.account-types{


display:flex;

justify-content:space-between;

gap:10px;


}



.account-types label{


background:#f1f5f9;

padding:15px;

border-radius:15px;

cursor:pointer;

font-size:14px;


}



.account-types input{

width:auto;

}



button{


width:100%;

padding:15px;

margin-top:25px;

border:none;

border-radius:25px;

background:#16a34a;

color:white;

font-size:17px;

cursor:pointer;


}



button:hover{

background:#15803d;

}



a{

color:#2563eb;

text-decoration:none;

}



@media(max-width:500px){

.cadastro-container{

width:90%;

padding:25px;

}


.account-types{

flex-direction:column;

}


}
