*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#16a34a,
#2563eb
);

}




.pedido-container{


background:white;

width:450px;

padding:40px;

border-radius:25px;

box-shadow:

0 10px 30px rgba(0,0,0,.2);

}



h1{

text-align:center;

margin-bottom:10px;

}



p{

text-align:center;

color:#64748b;

margin-bottom:25px;

}



input,
textarea,
select{


width:100%;

padding:15px;

margin:10px 0;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;

}



textarea{

height:120px;

resize:none;

}



button{


width:100%;

padding:15px;

border:none;

border-radius:25px;

background:#16a34a;

color:white;

font-size:17px;

cursor:pointer;

margin-top:15px;

}



button:hover{

background:#15803d;

}



@media(max-width:500px){

.pedido-container{

width:90%;

}

}
